

#profile{
    width: 250px;
    height: 250px;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-transform: capitalize;
}

#profile img{
    display: block;
    margin: 10px;
    margin-left: 45px;
    width: 128px;
    height: auto;
}

#profile img:hover{
    cursor: pointer;
}

#profile div{
    margin-bottom: 12px;
}

#profile span{
    display: inline-block;
    margin-right: 5px;
    width: 60px;
}


#profile #button{
    display: block;
    width: 80px;
    margin: auto;
}
