

body{
	background-color : black;

}

.login-form{
	margin: auto;
	width: 30%;
	height: 30%;
	color: red;
}


.login-field{
	display: inline-block;
	padding: 4%;
	width: 23%;
}

.login-input{
	display: inline-block;
	margin: 1%;
	background-color : yellow;
}


.login-button{
	display: block;
	margin: auto;
}

.login-button:hover{
	color: red;
}