

#profile{
    width: 200px;
    height: 250px;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}
