

<head>
	<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">

</head>

<body>


	<form action="{{url_for('auth.login')}}" method="POST" class="form">
		<input class="input" type="text" name ="email" placeholder="email">
		<input class="input" type = "password" name="password" placeholder="password">
		<input class="formButton input" type="submit"  value="login">
		<p>not registred ! <a href="{{url_for('auth.register')}}">create an account ?</a></p>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<span class="error"> {{msg}}</span>
				{% endfor %}
			{% endif %}
		{% endwith %}

	</form>


</body>
