<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

</head>


<form method="POST" action="{{url_for('auth.register')}}" class="form">

	<input type="text" name="username" class="input" placeholder="username">
	<input type="text" name="email" class="input" placeholder="email">
	<input type="password" name="password" class="input" placeholder="password">
	<input type="submit" value="register" class="formButton input">
	<p>already registred ? <a href="{{url_for('auth.login')}}">login !</a></p>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<span class="error"> {{msg}}</span>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
</form>
