
<head>
    <title>{{user.username}}</title>
    <link href="{{url_for('static',filename='css/profile.css')}}" rel="stylesheet"/>
    <script script="{{url_for('static',filename='js/profile.js')}}"></script>
</head>

<body>

    <form id="profile">

        <img src="{{url_for('static',filename='imgs/' + user.pic)}}">
        <div> <span>hello</span> <input  name="username" value={{user.username}}> </div>

        <div> <span>email</span> <input name="email" value={{user.email}}>
        </div>

    </form>

</body>
